<ion-header>
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-calendar [(ngModel)]="date"
          (change)="onChange($event)"
          [type]="type"
          [format]="'YYYY-MM-DD'"
          [options]="optionsRange"
          >
        </ion-calendar>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card>
    <ion-card-content>
    <ion-item *ngFor="let user of users | slice:0:10;">
      <ion-avatar slot="start">
        <img [src]="user.picture.medium">
      </ion-avatar>

      <ion-label>
        <h2 text-capitalize>{{ user.name?.first }} {{ user.name?.last }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>

    </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more users...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>