<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Summary">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Diary">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Diary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Chat">
      <ion-icon name="send"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account </ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>