<ion-header>
  <ion-toolbar>
    <ion-title>{{selected}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <h1>A happy day</h1>
  <i class="material-icons" style="font-size: 150px;">mood</i><br>
  <p style="width: 80%; margin-left: 10%; text-align: justify;"><u>Lorem ipsum keme keme keme 48 years at ang at ang guash paminta pinkalou majubis oblation cheapangga mashumers chaka tanders na ang na conalei ang chopopo at bakit matod , at chapter kemerloo at nang jupang-pang shonga majubis nang shogal at nang intonses at ang at buya chuckie bigalou sa shonga pamenthol jowabella ganders at bakit sa kabog lulu nang na ang katol bakit planggana wrangler chapter buya shonget borta at at nang daki kasi na jowa buya ang mahogany oblation kasi quality control , shonget shontis ugmas bigalou chuckie sudems effem shongaers.</u></p><br>
<ion-button (click)="dismiss()">CLOSE</ion-button>
</ion-content>
